.Tema {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  min-height: 100px;
  // padding: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  // border-radius: 10px;
  border: 2px solid rgb(226, 226, 226);

  h3 {
    margin: 0;
  }

}